[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
pyarrow = "*"
scikit-learn = "*"
statannot = "*"
ipykernel = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
